<div>
  <h1>Status</h1>
    <div class="grid">

        <label for="">Current Time</label>
        <span>{{ time }}</span>


        <label for="">User Agent</label> <span>{{ useragent }}</span>



        <label for="">Languages</label> <span>{{ lan }}</span>



        <label for="">Is Cookie Enagled</label> <span>{{ cookie }}</span>


        <label for="">Logical Processors</label> <span>{{ lo }}</span>



        <label for="">Max Touch Points</label> <span>{{ maxt }}</span>


    </div>
  </div>
