a{
  color:blue;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 4px;
  padding:10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  padding: 10px;
  column-gap: 4px;

  font-weight: bold;
}
li{
display: inline-block;
margin:10px;
}
a.st-active {
  background-color: silver;
  }


.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}


