div{

  width:80%;
  margin:0 auto;
}

li{
  display: inline-block;
  margin-right:10px;
}

li a{
  border:1px solid blue;
  padding:10px;
  border-radius: 8px;
  text-decoration: none;
}


.grid{
  display:grid;
  grid-template-columns: 200px 1fr;
}

label{
  font-weight: bold;
}


b{
  text-align: right;
}
