<script type="module"
src="https://unpkg.com/browse/rxjs@7.4.0/dist/esm/index.js"> </script>
<link rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:op
sz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<header style="text-align:center">
  <h1>{{ title }}</h1>
  <nav>
    <li><a routerLink="./hello-world" routerLinkActive="st-active"><i class="material-symbols-outlined">home</i> Hello World</a></li>
    <li><a routerLink="./profile" routerLinkActive="st-active"><i class="material-symbols-outlined">person</i> Profile</a></li>
    <li><a routerLink="./friend" routerLinkActive="st-active"><i class="material-symbols-outlined">group</i> Friend</a></li>
    <li><a routerLink="./status" routerLinkActive="st-active"><i class="material-symbols-outlined">signal_wifi_statusbar_null</i> Status</a></li>
  </nav>
</header>


<router-outlet></router-outlet>
