<div>
  <h1>Friend</h1>

  <h2 style="text-align:center;">My Friend List</h2>

  <table>
    <thead>
      <tr>
        <th>First-name</th>
        <th>Last-name</th>
        <th>Nick-name</th>
        <th>Github-Pages</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Kritsada</td>
        <td>Intraprom</td>

          <td>Ice</td>
          <td>
          <li><a href="">Lab02</a></li>
        <li><a href="">Lab03</a></li>
        <li><a href="">Lab04</a></li>
        </td>
      </tr>

      <tr>
        <td>Kritsada</td>
        <td>Intraprom</td>

          <td>Ice</td>
          <td>
          <li><a href="">Lab02</a></li>
        <li><a href="">Lab03</a></li>
        <li><a href="">Lab04</a></li>
        </td>
      </tr>


    </tbody>
  </table>
  </div>
